In [1]:
import json
import pandas as pd
from yelpapi import YelpAPI

In [2]:
# Load API Credentials
with open('/Users/James/OneDrive/Desktop/yelp_api.json') as f:   #use your path here!
    login = json.load(f)
# Instantiate YelpAPI Variable
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)

In [3]:
with open("/Users/James/OneDrive/Desktop/yelp_api.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [4]:
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [5]:
results = yelp_api.search_query(location='Denver, CO',
                                       term='Green Chili')
type(results)
results.keys()

dict_keys(['businesses', 'total', 'region'])

In [6]:
JSON_FILE = "Data/results_in_progress_Denver_Green_Chili.json"
JSON_FILE

'Data/results_in_progress_Denver_Green_Chili.json'

In [7]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

In [8]:
## Check if JSON_FILE exists
file_exists = os.path.isfile(JSON_FILE)
## If it does not exist: 
if file_exists == False:
    
    ## CREATE ANY NEEDED FOLDERS
    # Get the Folder Name only
    folder = os.path.dirname(JSON_FILE)
    ## If JSON_FILE included a folder:
    if len(folder)>0:
        # create the folder
        os.makedirs(folder,exist_ok=True)
        
        
    ## INFORM USER AND SAVE EMPTY LIST
    print(f'[i] {JSON_FILE} not found. Saving empty list to file.')
    
    
    # save an empty list
    with open(JSON_FILE,'w') as f:
        json.dump([],f)  
# If it exists, inform user
else:
    print(f"[i] {JSON_FILE} already exists.")

[i] Data/results_in_progress_Denver_Green_Chili.json not found. Saving empty list to file.

In [9]:
## Load previous results and use len of results for offset
with open(JSON_FILE,'r') as f:
    previous_results = json.load(f)
    
## set offset based on previous results
n_results = len(previous_results)
print(f'- {n_results} previous results found.')

- 0 previous results found.

In [13]:
# use our yelp_api variable's search_query method to perform our API call
LOCATION = 'Denver'
TERM = 'Green Chili'
# use our yelp_api variable's search_query method to perform our API call
results = yelp_api.search_query(location=LOCATION,
                                term=TERM,
                               offset=n_results)
results.keys()

dict_keys(['businesses', 'total', 'region'])

In [14]:
## How many results total?
total_results = results['total']
total_results

683

In [15]:
## How many did we get the details for?
results_per_page = len(results['businesses'])
results_per_page

20

In [16]:
# Import additional packages for controlling our loop
import time, math
# Use math.ceil to round up for the total number of pages of results.
n_pages = math.ceil((results['total']-n_results)/ results_per_page)
n_pages

35

In [17]:
# join new results with old list with extend and save to file
previous_results.extend(results['businesses'])  
with open(JSON_FILE,'w') as f:
     json.dump(previous_results,f)

In [18]:
from tqdm.notebook import tqdm_notebook
import time
for i in tqdm_notebook(range(n_pages)):
    # adds 200 ms pause
    time.sleep(.2)

  0%|          | 0/35 [00:00<?, ?it/s]

In [19]:
for i in tqdm_notebook( range(1,n_pages+1)):
    
    ## Read in results in progress file and check the length
    with open(JSON_FILE, 'r') as f:
        previous_results = json.load(f)
    ## save number of results for to use as offset
    n_results = len(previous_results)
    ## use n_results as the OFFSET 
    results = yelp_api.search_query(location=LOCATION,
                                    term=TERM, 
                                    offset=n_results)
    
    ## append new results and save to file
    previous_results.extend(results['businesses'])
    
    with open(JSON_FILE,'w') as f:
        json.dump(previous_results,f)
    
    # add a 200ms pause
    time.sleep(.2)

  0%|          | 0/35 [00:00<?, ?it/s]

In [20]:
## delete file and confirm it no longer exits.
os.remove(JSON_FILE)
os.path.isfile(JSON_FILE)

False

In [21]:
def create_json_file(JSON_FILE,  delete_if_exists=False):
    
    ## Check if JSON_FILE exists
    file_exists = os.path.isfile(JSON_FILE)
    
    ## If it DOES exist:
    if file_exists == True:
        
        ## Check if user wants to delete if exists
        if delete_if_exists==True:
            
            print(f"[!] {JSON_FILE} already exists. Deleting previous file...")
            ## delete file and confirm it no longer exits.
            os.remove(JSON_FILE)
            ## Recursive call to function after old file deleted
            create_json_file(JSON_FILE,delete_if_exists=False)
        else:
            print(f"[i] {JSON_FILE} already exists.")            
            
            
    ## If it does NOT exist:
    else:
        
        ## INFORM USER AND SAVE EMPTY LIST
        print(f"[i] {JSON_FILE} not found. Saving empty list to new file.")
        
        ## CREATE ANY NEEDED FOLDERS
        # Get the Folder Name only
        folder = os.path.dirname(JSON_FILE)
        
        ## If JSON_FILE included a folder:
        if len(folder)>0:
            # create the folder
            os.makedirs(folder,exist_ok=True)
        ## Save empty list to start the json file
        with open(JSON_FILE,'w') as f:
            json.dump([],f)

In [22]:
## Create a new empty json file (exist the previous if it exists)
create_json_file(JSON_FILE, delete_if_exists=True)
## Load previous results and use len of results for offset
with open(JSON_FILE,'r') as f:
    previous_results = json.load(f)
    
## set offset based on previous results
n_results = len(previous_results)
print(f'- {n_results} previous results found.')
# use our yelp_api variable's search_query method to perform our API call
results = yelp_api.search_query(location=LOCATION,
                                term=TERM,
                               offset=n_results)
## How many results total?
total_results = results['total']
## How many did we get the details for?
results_per_page = len(results['businesses'])
# Use math.ceil to round up for the total number of pages of results.
n_pages = math.ceil((results['total']-n_results)/ results_per_page)
n_pages

[i] Data/results_in_progress_Denver_Green_Chili.json not found. Saving empty list to new file.
- 0 previous results found.

35

In [23]:
for i in tqdm_notebook( range(1,n_pages+1)):
    
    ## Read in results in progress file and check the length
    with open(JSON_FILE, 'r') as f:
        previous_results = json.load(f)
    ## save number of results for to use as offset
    n_results = len(previous_results)
    
    if (n_results + results_per_page) > 1000:
        print('Exceeded 1000 api calls. Stopping loop.')
        break
    
    ## use n_results as the OFFSET 
    results = yelp_api.search_query(location=LOCATION,
                                    term=TERM, 
                                    offset=n_results)
    
    
    
    ## append new results and save to file
    previous_results.extend(results['businesses'])
    
    # display(previous_results)
    with open(JSON_FILE,'w') as f:
        json.dump(previous_results,f)
    
    time.sleep(.2)

  0%|          | 0/35 [00:00<?, ?it/s]

In [24]:
# load final results
final_df = pd.read_json(JSON_FILE)
display(final_df.head(), final_df.tail())

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,WTe8uL6vF1ZuKAeJIvxR8w,la-loma-denver-denver,La Loma | Denver,https://s3-media4.fl.yelpcdn.com/bphoto/pJngNB...,False,https://www.yelp.com/biz/la-loma-denver-denver...,1886,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",4.0,"{'latitude': 39.74493, 'longitude': -104.98781}","[delivery, pickup]",$$,"{'address1': '1801 Broadway', 'address2': 'Uni...",+13034338300,(303) 433-8300,1831.625871
1,K2fzLQ4DjVQvwYRokP4kDA,park-avenue-tacos-denver,Park Avenue Tacos,https://s3-media1.fl.yelpcdn.com/bphoto/FfFv2L...,False,https://www.yelp.com/biz/park-avenue-tacos-den...,28,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.5,"{'latitude': 39.740503, 'longitude': -104.97252}","[delivery, pickup]",NaN,"{'address1': '1521 N Marion St', 'address2': '...",+17203612137,(720) 361-2137,592.267347
2,fbb7fsCGVMVkavIMm7_8KQ,taqueria-la-familia-denver,Taqueria La Familia,https://s3-media2.fl.yelpcdn.com/bphoto/VkLvsn...,False,https://www.yelp.com/biz/taqueria-la-familia-d...,456,"[{'alias': 'mexican', 'title': 'Mexican'}]",4.5,"{'latitude': 39.761887, 'longitude': -105.020065}",[delivery],$$,"{'address1': '2642 W 32nd Ave', 'address2': ''...",+13034332332,(303) 433-2332,5170.503060
3,5-Y6ioHcfRy-eCBZtU6rHw,venalonzos-centennial-2,Venalonzo's,https://s3-media3.fl.yelpcdn.com/bphoto/5ovmws...,False,https://www.yelp.com/biz/venalonzos-centennial...,249,"[{'alias': 'tacos', 'title': 'Tacos'}, {'alias...",5.0,"{'latitude': 39.5920055, 'longitude': -104.886...",[],$,"{'address1': '6830 S Yosemite St', 'address2':...",+17209236926,(720) 923-6926,17415.141562
4,ZoxDX4vbjDANTmf-kRX0zQ,casa-don-juan-denver,Casa Don Juan,https://s3-media1.fl.yelpcdn.com/bphoto/Td3y1n...,False,https://www.yelp.com/biz/casa-don-juan-denver?...,101,"[{'alias': 'mexican', 'title': 'Mexican'}]",4.5,"{'latitude': 39.7892643527715, 'longitude': -1...","[delivery, pickup]",NaN,"{'address1': '5106 Washington St', 'address2':...",+17203534846,(720) 353-4846,6012.229176

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
677,eoO4Fwjt5PnDjoNz6A8W6A,chipotle-mexican-grill-lone-tree-5,Chipotle Mexican Grill,https://s3-media2.fl.yelpcdn.com/bphoto/5MDZ9G...,False,https://www.yelp.com/biz/chipotle-mexican-gril...,95,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",2.5,"{'latitude': 39.53712395324733, 'longitude': -...","[delivery, pickup]",$,"{'address1': '9500 Heritage Hills Cir', 'addre...",+13037920611,(303) 792-0611,23390.409715
678,k7SOpDoSevoADOajJbchEg,chipotle-mexican-grill-aurora-7,Chipotle Mexican Grill,https://s3-media2.fl.yelpcdn.com/bphoto/e1CfV_...,False,https://www.yelp.com/biz/chipotle-mexican-gril...,130,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",2.0,"{'latitude': 39.604272012876336, 'longitude': ...","[delivery, pickup]",$,"{'address1': '24100 E Commons Ave', 'address2'...",+13034003855,(303) 400-3855,26802.845805
679,7gZHiYGfRB6mChsqfeeO7Q,chipotle-mexican-grill-parker,Chipotle Mexican Grill,https://s3-media4.fl.yelpcdn.com/bphoto/F9xWip...,False,https://www.yelp.com/biz/chipotle-mexican-gril...,147,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",2.0,"{'latitude': 39.518703, 'longitude': -104.770403}","[delivery, pickup]",$,"{'address1': '18701 E Mainstreet', 'address2':...",+17208515050,(720) 851-5050,29566.734061
680,0gpK7_BMz1wU7sbrxBu79g,chipotle-mexican-grill-aurora-2,Chipotle Mexican Grill,https://s3-media4.fl.yelpcdn.com/bphoto/n3aHZb...,False,https://www.yelp.com/biz/chipotle-mexican-gril...,120,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",2.0,"{'latitude': 39.6402042077806, 'longitude': -1...","[pickup, delivery]",$,"{'address1': '4205 S Buckley Rd', 'address2': ...",+17208703342,(720) 870-3342,18569.999489
681,bqXPhcn6MRcMNLrGvlCUEw,chipotle-mexican-grill-louisville-4,Chipotle Mexican Grill,https://s3-media3.fl.yelpcdn.com/bphoto/JNtc3V...,False,https://www.yelp.com/biz/chipotle-mexican-gril...,70,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",3.0,"{'latitude': 39.966218, 'longitude': -105.1639...","[pickup, delivery]",$,"{'address1': '375 Mccaslin Blvd', 'address2': ...",+17208900670,(720) 890-0670,30520.656698

In [26]:
# check for duplicate results
final_df.duplicated(subset='id').sum()

0

In [28]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             682 non-null    object
 1   alias          682 non-null    object
 2   name           682 non-null    object
 3   image_url      682 non-null    object
 4   is_closed      682 non-null    bool
 5   url            682 non-null    object
 6   review_count   682 non-null    int64
 7   categories     682 non-null    object
 8   rating         682 non-null    float64
 9   coordinates    682 non-null    object
 10  transactions   682 non-null    object
 11  price          528 non-null    object
 12  location       682 non-null    object
 13  phone          682 non-null    object
 14  display_phone  682 non-null    object
 15  distance       682 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(12)
memory usage: 80.7+ KB

In [30]:
# save the final results to a compressed csv
final_df.to_csv('Data/results_in_progress_Denver_Green_Chili.csv.gz', compression='gzip',index=False)

In [32]:
df = pd.read_csv('Data/results_in_progress_Denver_Green_Chili.csv.gz')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             682 non-null    object
 1   alias          682 non-null    object
 2   name           682 non-null    object
 3   image_url      680 non-null    object
 4   is_closed      682 non-null    bool
 5   url            682 non-null    object
 6   review_count   682 non-null    int64
 7   categories     682 non-null    object
 8   rating         682 non-null    float64
 9   coordinates    682 non-null    object
 10  transactions   682 non-null    object
 11  price          528 non-null    object
 12  location       682 non-null    object
 13  phone          665 non-null    float64
 14  display_phone  665 non-null    object
 15  distance       682 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(11)
memory usage: 80.7+ KB